__pycache__/
stage2/
src/SLM
stage1_results_arxiv/runs/
src/LLM/results
src/LLM/merged-vicuna-7b-lora
src/LLM/stage1_results
src/GNN/__pycache__/
arxiv_data/
dataset/
FastChat/
llm_prompt_dataset/
inference_results/
llm_pred/
src/LLM/inference_results_lp_llm/
src/LLM/vicuna_for_lp

best_model.pth
src/LLM/vicuna_for_lp_arxiv_subgraph
src/LLM/wandb
.vscode/
results
results_llm_gcn
pipeline_v2/
src/GNN/best_models
stage1_results_arxiv
stage1_results_arxiv_lp_V1
dataset_for_lm.pkl
eval_yn_dataset_4_examples.pkl
eval_yn_dataset_0_examples.pkl
ft_yn_dataset.pkl
linkgpt/
src/LLM/data/
stage1_results_arxiv_lp
data
data/compare_citations.py
src/GNN/arxiv_rewired
src/GNN/arxiv_rewired_edges
src/GNN/cora_rewired_edges
src/GNN/results_*
src/GNN/*_error_gnn_*.txt
src/GNN/*_output_gnn_*.txt
src/GNN/wandb
src/LLM/*_error_*.txt
src/LLM/*_output_*.txt
src/LLM/*.txt